.fadeIn {
  opacity: 0;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slideIn {
  transform: translateX(-100%);
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.rotate {
  transform: rotate(0deg);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pulse {
  transform: scale(1);
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.bounce {
  animation: bounce 0.5s ease-in-out infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.hoverEffect {
  transition: transform 0.3s ease-in-out;
}

.hoverEffect:hover {
  transform: scale(1.1);
}

@keyframes imageLoading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@for $i from 0 through 10 {
  .animation__scale--#{$i} {
    animation: imageLoading 1s;
    animation-delay: $i * 0.5s;
    animation-fill-mode: forwards;
  }
}
