footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  padding: 25px;
  background-color: grey;
  border-radius: 25px;
  border: 1px #8e8e0a solid;
  overflow: hidden;
}
